root = true

[*.cs]
# Private fields must start with underscore
dotnet_naming_rule.private_fields_must_start_with_underscore.severity = warning
dotnet_naming_rule.private_fields_must_start_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_fields_must_start_with_underscore.style    = start_with_underscore_style

dotnet_naming_symbols.private_fields.applicable_kinds             = field
dotnet_naming_symbols.private_fields.applicable_accessibilities   = private

dotnet_naming_style.start_with_underscore_style.capitalization  = camel_case
dotnet_naming_style.start_with_underscore_style.required_prefix = _

# Const fields must be pascal case
#dotnet_naming_rule.const_fields.symbols = const_fields
#dotnet_naming_rule.const_fields.style = pascal_case
#dotnet_naming_rule.const_fields.severity = warning

dotnet_naming_symbols.const_fields.applicable_accessibilities = *
dotnet_naming_symbols.const_fields.required_modifiers = const
